{% if messages %}
<ul>
    {% for message in messages %}
        <li
        {% if message.tags == 'error' %} class="error" 
        {% elif message.tags == 'success' %} class="success" 
        {% endif %}>
          {{ message }}
        </li>
    {% endfor %}
</ul>
{% endif %}

















































































































































































































































































































































































































































































































































































































































































































































































































































